extends layout.pug

block content

  article.portfolio-intro
    h1 Welcome to my corner of the internet!
    p These projects were created using the skills I've learned through the Treehouse Full Stack JavaScript techdegree. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='Project thumbnail')
            h5= project.project_name
